/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Custome CSS starts */

/* * {
  box-sizing: border-box;
} */
header {
  background-color: rgb(1, 1, 14);
  padding-top: 16px;
  padding-bottom: 16px;
  text-align: center;
  margin-bottom: 32px;
}
header a {
  text-decoration: none;
  color: white;
  margin: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
}
header a:hover {
  color: green;
}
.container {
  padding-left: 200px;
  padding-right: 200px;
  text-align: center;
}
.container-blog {
  padding-left: 100px;
  padding-right: 100px;
  text-align: center;
}
.container h1 {
  font-family: 'Courier New', Courier, monospace;
  font-size: 36px;
  margin-top: 32px;
  margin-bottom: 32px;
  font-weight: bold;
}
.container p {
  font-family: 'Times New Roman', Times, serif;
  font-size: 28px;
  margin-top: 32px;
  margin-bottom: 48px;
}
.box {
  width: 200px;
  height: 200px;
  background-color: #99d8ca;
  margin: 0 auto;
  border: 16px solid #5873e2;
  outline: 8px solid #0d1430;
  border-radius: 2%;
  box-shadow: 0px 0px 0px 20px #90ffa9;
}
.marker {
  text-align: center;
  margin-top: 32px;
  margin-bottom: 32px;
}

.circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
  margin-right: 10px;
}
.c1 {
  background-color: #99d8ca;
}
.c2 {
  background-color: #5873e2;
}
.c3 {
  background-color: #0d1430;
}
.c4 {
  background-color: #90ffa9;
}
hr {
  font-size: 0px;
  border-style: dashed;
  margin: 32px 0px;
}
.outer {
  width: 660px;
  border: 2px solid rgb(124, 109, 109);
  margin: 0 auto;
  /* box-sizing: border-box; */
  font-size: 0;
}
.inner {
  width: 200px;
  height: 180px;
  background-color: rgb(152, 152, 152);
  display: inline-block;
  box-sizing: border-box;
  margin: 10px;
}
.br {
  border: 2px solid black;
  font-size: 0px;
}
.article1 {
  margin: 0 auto;
}
.article1 img {
  width: 350px;
  height: 300px;
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
}
.article1 .story {
  width: 350px;
  height: 300px;
  display: inline-block;
  vertical-align: text-bottom;

}
.article1 p{
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    text-align: left;
    line-height: 1.25;
}
.article1 h2{
    font-size: 24px;
    font-weight: bold;
}
.article1 .lnk{
    text-align: left;
    margin-top: 14px;
    background-color: green;
    width: 100px;
    height: 30px;
    padding: 10px;
    border-radius: 50px;

}
.lnk a{
    display: inline-block;
    padding: 6px 12px;
    text-decoration: none;
    color: white;
}

.article2 {
  margin: 20px auto;
}
.article2 img {
    display: block;
  width: 350px;
  height: 300px;
  margin-left: 10px;
  margin-right: 10px;
}
.article2 .story {
  width: 350px;
  height: 300px;
}
.article2 p{
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    text-align: left;
    line-height: 1.25;
}
.article2 h2{
    margin-top: 24px;
    font-size: 24px;
    font-weight: bold;
}
.article2 .lnk{
    text-align: left;
    margin-top: 14px;
    /* background-color: green; */
    /* width: 100px;
    height: 30px;
    padding: 10px;
    border-radius: 50px; */

}
.article2 .lnk a{
    /* display: inline-block; */
    padding: 6px 0px;
    text-decoration:underline;
    color:green;
}
.row2{
    display: inline-block;
}